{% load global_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Example</title>
    <style>
      @media print {
         .livraison-holder {
             height: 27.5cm; /* Slightly less than the maximum printable height */
             width: 21cm; /* Full width of A4 */
             border: 1px solid black; /* For debugging and visibility */
             page-break-after: always; /* Ensures each div starts on a new page */
             box-sizing: border-box; /* Include padding and border in the element's total width and height */
         }

         /* Reset margins and paddings for printing */
         body {
             margin: 0;
             padding: 0;
         }
         td > div{
           margin:4px;
         }

         /* Optional: If you need to adjust margins more precisely */
         @page {
             margin: 0; /* Remove any default margins */
         }
     }
    </style>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/css/minified.css" rel="stylesheet" />
</head>
<body style="font-family:sans-serif;">
    <div>
        <div class="row ">

            <div class="col-12 row mt-5">
                <div class="w-100 rounded p-2 bg-dark text-white text-center mb-2">Tablet</div>

                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Total Bon livraison
                        <div class="totalrepbons">
                            {{totalrepbons}}
                        </div>DH
                    </div>
                </div>
                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Total Facture
                        <div class="totalrepfactures">
                            {{totalrepfactures}}
                        </div>DH
                    </div>
                </div>
                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Total BL FC TTC
                        <div class="reptotalblfc">
                            {{reptotalblfc}}
                        </div>DH
                    </div>
                </div>
                
                <div class="col-3">
                    <div class="bg-orange text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Total Bon Avoirs
                        <div class="totalrepavoirs">
                            {{totalavoirs}}
                        </div>DH
                    </div>
                </div>
                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Result TTC
                        <div class="represultttc">
                            {{represultttc}}
                        </div>DH
                    </div>
                </div>
                <div class="col-3" hidden>
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Result HT
                        <div class="represultht">
                            {{represultht}}
                        </div>DH
                    </div>
                </div>

                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Charges
                        <div class="">
                            <input type="number" style="width: 100%" class="reptotalcharges"
                            value="{{charges}}"
                            onchange="getrepresultsrep(event)">DH
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="bg-success text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        apres charges HT
                        <div class="repaftercharges">
                            {{aftercharges}}
                        </div>DH
                    </div>
                </div>
                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        Reglements
                        <div  class="totalreglements">
                            {{totalreglements}}
                        </div>Dh
                    </div>
                </div>

                <div class="col-3">
                    <div class="bg-darkblue text-white rounded shadow d-flex align-items-center text-center mb-2 p-2 d-flex flex-column align-items-center">

                        REST
                        <div class="repfinalresult" >
                            {{repfinalresult}}
                        </div>DH
                    </div>
                </div>
            </div>
        </div>
        <h1>BONS</h1>
        <div class="mt-2">
             <div class="">
                <table class="table table-bordered table-hover table-striped " style="font-size: 12px;" id="addbonlivraisonle">
                  <thead style="position: sticky; top: 0;">
                    <tr style="background: #676767; color: white;">
                      <td style="width: 8%;" onclick="sorttable(event)">N° bon</td>
                      <td style="width: 8%;" class="">
                        <div class="d-flex justify-content-between align-items-center">
                          <!-- <button class="btn btn-sm" style="font-size: 10px; background: #f06623; color: white;" onclick="sortupbl(event)">↑</button>  -->
                          <div>Date</div>
                          <!-- <button class="btn btn-sm" style="font-size: 10px; background: #f06623; color: white;" onclick="sortdownbl(event)">↓</button>  -->
                        </div>
                      </td>
                      <td style="width: 12%;" onclick="sorttable(event)">Client</td>
                      <td style="width: 5%;">Code client</td>
                      <td style="width: 5%;" onclick="intsorttable(event)">Total</td>
                      <td style="width: 5%;" onclick="sorttable(event)">Region</td>
                      <td style="width: 5%;" onclick="sorttable(event)">Ville</td>
                      <td style="width: 5%;">Solde bl cl.</td>
                      <td style="width: 5%;" onclick="sorttable(event)">Repr</td>
                      <td style="width: 4%;">Reglé</td>
                      <td style="width: 5%;">Facturé</td>
                      <td style="width: 5%;" onclick="sorttable(event)">Cmnd</td>
                      <td style="width: 5%;" onclick="sorttable(event)">Transport</td>
                      <td style="width: 5%;" onclick="sorttable(event)">Notes</td>
                      <td style="width: 2%;"></td>
                    </tr>
                  </thead>
                  <tbody class="listblbodyinreponfo">
                    {{bons|safe}}
                    {{factures|safe}}
                  </tbody>
                  <tfoot style="background:white;">
                    <td style="width: 12%;" onclick="sorttable(event)">
                    </td>
                    <td style="width: 5%;">
                    </td>
                    <td style="width: 5%;" onclick="intsorttable(event)">
                    </td>
                    <td style="width: 5%;" onclick="sorttable(event)">
                    </td>
                    <td style="width: 5%;" onclick="sorttable(event)" class="totalbonfc">
                    </td>
                    <td style="width: 5%;">
                    </td>
                    <td style="width: 5%;" onclick="sorttable(event)">
                    </td>
                    <td style="width: 4%;">
                    </td>
                    <td style="width: 5%;">
                    </td>
                    <td style="width: 5%;" onclick="sorttable(event)">
                    </td>
                    <td style="width: 5%;" onclick="sorttable(event)">
                    </td>
                    <td style="width: 5%;" onclick="sorttable(event)">
                    </td>
                    <td style="width: 2%;">

                    </td>
                  </tfoot>
                </table>
            </div>
        </div>
        
        <h1>AVOIRS</h1>
        <div class="mt-2">
            <div>
                <table class="table table-bordered table-hover table-striped listavcltable" style="font-size: 12px;">
                <thead style="background: #676767; color: white; position: sticky; top: 0; z-index: 99;">
                    <tr>
                    <td style="width: 8%;">N° bon</td>
                    <td style="width: 8%;">Date</td>
                    <td style="width: 12%;">Client</td>
                    <td style="width: 5%;">Code client</td>
                    <td style="width: 5%;">Total</td>
                    <td style="width: 5%;">Region</td>
                    <td style="width: 5%;">Ville</td>
                    {% if facturesection %}<td style="width: 5%;">Solde</td>{% endif %}
                    <td style="width: 5%;">Repr</td>
                    <td style="width: 5%;">status</td>
                    <td style="width: 5%;">Note</td>
                    </tr>
                </thead>
                <tbody class="listavclbody">
                    {{avoir_html|safe}}
                </tbody>
                
                </table>
            </div>
        </div>

        <h1>REGLEMENTS</h1>
        <div class="mt-2">
            <div class="reglbltableholder mt-2">
                <table class="table table-bordered reglbltable text-center table-hover" style="font-size: 12px;">
                    <thead style="position: sticky; top: 0;" class="bg-darkblue text-white">
                        <th onclick="sorttable(event)">
                            Type
                        </th>
                        <th onclick="sorttable(event)">
                            N°
                        </th>
                        <th onclick="sorttable(event)">
                            Mantant
                        </th>
                        <th onclick="sorttable(event)">
                            Date saisie
                        </th>
                        <th onclick="sorttable(event)" class="text-start">
                            Client
                        </th>
                        <th onclick="sorttable(event)">
                            Code cl.
                        </th>
                        <th onclick="sorttable(event)">
                            Echeance
                        </th>
                        <th onclick="sorttable(event)">
                            N° Bons
                        </th>
                    </thead>
                    <tbody class="listreglement">
                        {{reglement_html|safe}}
                        {{reglementsfc|safe}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
